*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #e4e4e4;
}

.main-navbar{
    background-color:#222222;
    color: #f7f7f7;
    height: 7rem;
    text-align: center;
    position: relative;
}


.main-header{
    font-family: "Spartan", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: .4rem;
}

.grid-container{
    height: 750px;
    width: 150rem;
    margin: 0 auto;
    padding-top: .5rem;
}

.image-box:not(:last-child){
    border-radius: 5px 0 0 5px;
}

.image-box:last-child{
    border-radius: 0 5px 5px 0;
}

.is-active {
  background-color: #1668c5 !important;
}

.tool-box{
  font-family: monospace;
  font-size: 14px;
  color: #f7f7f7;
  margin-left: -10px;
  position: fixed;
  bottom: 2%;
  right: 5%;

}


.eraser-container{
    display: inline-block;
    position: relative;
}


.tool-btn{
    background-color: #222222;
    display: inline-block;
    padding: 3rem;
    border-radius: 100px;
    position: relative;
    box-shadow: 0 .5rem .5rem rgba(36, 36, 36, 0.22);
    -webkit-backface-visibility: hidden;
    transition: all .2s;
}


.tool-btn:hover{
    background-color: #1b76df;
    box-shadow: 0 .8rem 1rem rgba(36, 36, 36, 0.15);
    transform: translateY(-3%);
}


.btn-main{
    background: none;
    border: none;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tool-btn:not(:last-child){
    margin-right: 1.5rem;
}


#eraser-radius{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    background-color: #fff;
    position: absolute;
    top: 0%;
    left: 40%;
    transform: translate(-50%, -110%);
    transition: all .4s;
    opacity: 0;
}

.eraser-container:hover #eraser-radius{
    display: inline;
    opacity: 1;
}

for file in /home/user/*; do
  echo "${file##*/}"
done